<div class="container-lista">
  <div class="titulo">Infos Completas</div>
  <div class="info">
    <div class="info-text">
      <div>This cat has a weight between {{catInfo[0].breeds[0].weight.metric}}Kg.</div>
      <div>This cat breed is {{catInfo[0].breeds[0].name}}, they are a {{catInfo[0].breeds[0].id}}.</div>
      <div>This cat has the following temperaments: {{catInfo[0].breeds[0].temperament}}.</div>
      <div>This breed of cat has a origin in {{catInfo[0].breeds[0].origin}}.</div>
      <div>This breed has a medium lifespan of {{catInfo[0].breeds[0].life_span}} years.</div>
      <div>For more cool information check this out: <a> {{catInfo[0].breeds[0].wikipedia_url}}</a>.</div>
    </div>
  </div>
  <div class="button-bg">
    <div class="button">
      <div class="button-txt" (click)="closeModal()">
        OK
      </div>
    </div>
  </div>
</div>