<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
    <div class="content">
      <div class="logo-container">
        <div class="logo-img"></div>
        <div class="logo-titulo">StoiCats!</div>
      </div>
      <div class="content-container" *ngIf="catInfo && stoicInfo && catInfo.length > 0">
        <img class="img-container" [src]="catInfo[0].url">
        <div class="quote-container">
          <div class="quote-title">-{{stoicInfo.author}}-</div>
          <div class="quote-text">{{stoicInfo.quote}}</div>
        </div>
      </div>
      <div class="dialog">
        <ul>
          <li><a (click)="popup(catInfo)">I want to know more!</a></li>
          <li><a href="#">I want another one!</a></li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>

