<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stoicat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="catInfo && catInfo.length > 0">
    <img [src]="catInfo[0].url">
    <ion-item *ngIf="stoicInfo">
      <h3>{{stoicInfo.quote}}</h3>
      <h4>-{{stoicInfo.author}}</h4>
    </ion-item>
    <ion-item *ngIf="!stoicInfo">
      <h3>Loading...</h3>
    </ion-item>
  </ion-item>
  <ion-item *ngIf="!catInfo">
    Loading...
  </ion-item>
</ion-content>

